<div class="container">
  <form>
    <div class="row form-group">
      <label for="title">Tytuł kursu</label>
      <input type="text" id="title" class="form-control" placeholder="tytuł..." required>
    </div>

    <div class="row form-group">
      <label for="description">Opis</label>
      <textarea type="text" id="tags" class="form-control" placeholder="opis..."></textarea>
    </div>

    <div class="row form-group">
      <label for="authors">Współautorzy</label>
      <input type="text" id="authors" class="form-control" placeholder="współautorzy...">
    </div>

    <div class="row form-group">
      <label for="tags">Tagi</label>
      <input type="text" id="tags" class="form-control" placeholder="tagi...">
    </div>
  </form>

  <app-new-part></app-new-part>
</div>