<footer id="footer" class="container page-footer">
    <section class="section-header">
        <h2>Contact</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque totam impedit iste exercitationem reprehenderit est. Incidunt voluptatibus maxime harum, fuga.</p>
    </section>
    
    <div class="container">
        <section class="col-1-2 contact-form">
            <form action="">
                <div class="form-group form-group-1-2 cf">                          
                   <div>
                       <label for="name">Name</label>    
                       <input type="text" id="name" placeholder="Your name..." required>
                   </div>
                   
                   <div>
                       <label for="email">Email</label>    
                       <input type="email" id="email" placeholder="Your email..." required>
                   </div>
                </div>
                
                <div class="form-group">
                    <label for="subject">Subject</label>
                    <select id="subject">
                        <option value="">Pytanie</option>
                        <option value="">Współpraca</option>
                        <option value="">Zgłoś błąd na stronie</option>
                    </select>
                </div>
                
                <div class="form-group">
                    <label for="message">Message</label>
                    <textarea id="message" placeholder="Your message..." required></textarea>
                </div>
                
                <div class="form-group">
                    <button class="btn btn-lg" tyle="submit">Send message</button>
                </div>
            </form>
        </section>
        
        <section class="col-1-2 contact-info">
            <div class="contact-about">
                <h3>Get in touch</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet accusantium dolores velit nesciunt asperiores sed harum ut animi. Nam, a.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora voluptates molestias suscipit nostrum modi, ipsam rerum! Voluptatem, deserunt eligendi dolores.</p>
            </div>
            
            <div class="contact-address">
                <h3>Find us</h3>
                <ul class="contact-icons">
                    <li>
                        <i class="ion-location"></i>
                        <span>Address: Wrocław ul. Kwiaciana 32/23</span>    
                    </li>
                    <li>
                        <i class="ion-email"></i>
                        <span>Email: <a href="mailto:zpiteam@gmail.com">zpiteam@gmail.com</a></span>    
                    </li>
                    <li>
                        <i class="ion-ios-telephone"></i>
                        <span>Phone: 123-456-789</span>    
                    </li>
                </ul>
            </div>
            
            
        </section>
    </div>
    <section class="copyrights">
        <p>Copyright (c) 2018 - ZPI Team</p>
    </section>
</footer>



