<div id="pageheader" class="container">
  <section class="menu-brand">
      <a href="index.html">
          <img src="../../../assets/img/logo.png" alt="logo" height="70" width="100">
      </a>
  </section>
  
  <nav class="menu-links">
      <ul>
          <li><a href="index.html">Strona główna</a></li>
          <li [routerLink]="['courses-list']"><a>Kursy</a></li>
          <li [routerLink]="['new-courses']"><a>Utwórz kurs</a></li>
          <li><a href="#footer">Kontakt</a></li>
          <li [routerLink]="['user-account']"><a>Moje konto</a></li>
      </ul>
  </nav>
</div>
